/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.form input, .transaction-details input, .transaction-details textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 1%;
}

.PageHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black !important;
}


select {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 50px;
}

.orderForm {
    margin-top: 5%;
}

.no-data-found{
    font-weight:700;
    margin-top:100px;
    text-align:center;
}


